{% extends 'blog/base.html' %} {# można sobie tak po poprostu rozszeżyć html'a z innego folderu... #}
{% load crispy_forms_tags %}    {# to do obróbki automatycznych formularzy, zadeklarowane w 'settings.py' #}
{% block content %}
    <div class="content-section">

        <form method="POST">{# zakładamy metodę POST, żeby ktoś nie wykorzystał formularza do GET-wyciągnięcia danych #}
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
                {{ form|crispy }}      {# automatyczny formularz do robienia/updetowania postów, | po znaczniku dodajemy filtry #}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>

    </div>
{% endblock content%}