{% extends 'blog/base.html' %} {# można sobie tak po poprostu rozszeżyć html'a z innego folderu... #}
{% load crispy_forms_tags %}    {# to do obróbki automatycznych formularzy, zadeklarowane w 'settings.py' #}
{% block content %}
    {#<h1>{{ user.username }}</h1>   usera nie musimy przekazywac, zzcyta automatycznie aktualnie zalogowanego #}

    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>

      <form method="POST" enctype="multipart/form-data">{# enctype... potrzebne zeby formularz obsługiwał obrazki/multimedia #}
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form|crispy }}      {# automatyczny formularz do rejestrowania nowych użytkowników, | po znaczniku dodajemy filtry #}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
      </form>

    </div>
{% endblock content%}